name: 02 - Workflow Events

on: 
    pull_request:
    workflow_dispatch:
        
jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: show the trigger
              run: echo "this was triggered by ${{github.event_name}} "
